 .maya-form {
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
     padding: 20px;
     background-color: #f8f8f8;
     border: 1px solid #ddd;
     border-radius: 5px;
 }

 .maya-form p {
     margin-bottom: 15px;
 }

 .maya-form label {
     display: block;
     margin-bottom: 5px;
 }

 .maya-form input[type="text"],
 .maya-form select {
     width: 100%;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 3px;
 }

 .maya-form input[type="submit"] {
     background-color: #0073aa;
     border-color: #0073aa;
     color: #fff;
     padding: 10px 20px;
     cursor: pointer;
 }

 .maya-form input[type="submit"]:hover {
     background-color: #006799;
     border-color: #006799;
 }

 .maya-container {
     display: flex;
     justify-content: space-between;
 }

 .maya-output,
 .maya-form {
     width: 48%;
     padding: 20px;
     background-color: #f8f8f8;
     border: 1px solid #ddd;
     border-radius: 5px;
 }

 .maya-select {
     width: 95%;
     padding: 20px;
     background-color: #f8f8f8;
     border: 1px solid #ddd;
     border-radius: 5px;
     margin-left: 10px;
 }

 .maya-output {
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
     padding: 20px;
     background-color: #f8f8f8;
     border: 1px solid #ddd;
     border-radius: 5px;
 }

 .maya-output p {
     margin-bottom: 15px;
     font-size: 16px;
     color: #333;
 }

 .maya-output img {
     max-width: 100%;
     height: auto;
 }

 .maya-form input[type="text"],
 .maya-form textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 3px;
 }

 .maya-output hr {
     border: 0;
     border-top: 1px solid #ddd;
     margin: 20px 0;
 }
